body{
    font-family: 'Montserrat', sans-serif;
}
html{
    scroll-behavior: smooth;
}
#navbar{
    width: 100vw;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:fixed;
    top: 0px;
    left: -1px;
    padding: 12px 0;
    background-color: white; 
    z-index: 1000;

}

/* new modification to debug */
/* #navbar, #home, #aboutme, #education, #skills, #projects, #contact{
    border: 1px solid black;
} */
/* new modification to debug*/
/* #navbar>div{
    border: 1px solid blueviolet;
} */


.scrolled{
    transition: 0.5s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* new modification to debug*/
#logo{
    width: 20%;
    text-align: center;
}


#logo>img{
    width:23%;
    margin-left: 40px;
}
#navbar .container{
    width: 70%;
    margin-right: 0%;
    display: flex;
    justify-content: space-around;
}
#navbar .container ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#navbar .container li, #navbar .container li>a{
    font-size: 12px;
    font-weight: 500;
    color: black;
    list-style: none;
    text-decoration: none;
}
#navbar .container li:hover{
    transform: scale(1.05);
    transition: 0.4s;
    font-weight: 600;
}
#navbar .container li>a:hover{
    cursor: pointer;
    color: rgb(6, 177, 162);
    font-weight: 600;
}
#navbar .container li>a.active{
    color: rgb(6, 177, 162);
    font-size: 13px;
    transition: 0.3s;
    font-weight: 600;
}
.checkbtn, #check{  
    display: none;
}
.sticky .home.active{
    font-size: 13px;
    color: black;
    font-weight: 500;
}
#home{
    /* modified width from 90% */
    width: 90vw;
    margin: auto;
    margin-top: -100px;
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#home>div>p:nth-child(2){
    font-size: 52px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 10px;
}
#home>div>p:nth-child(2)>span{
    color: rgb(6, 177, 162);
}
#home>div>h3{
    margin-left: 5px;
    font-size: 18px;
    font-weight: 500;
}
#home>div:nth-child(2){
    width: 250px;
    height: 300px;
    margin-left: 150px;
    margin-top: 80px;
    border: 15px solid rgb(6, 177, 162);
    border-radius: 20px;
}
#home>div>img{
    width: 290px;
    position: relative;
    bottom: 50px;
    right: 70px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;   
    border-radius: 15px;
}
.wrapper{
    display: inline-flex;
    margin-left: -5px;
}
.wrapper .dynamic-txt{
    margin-top: 1px;
    margin-left: 0px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}
.dynamic-txt li{
    color: rgb(6, 177, 162);
    list-style: none;
    font-size: 30px;
    font-weight: 600;
    margin-left: -32px;
    position: relative;
    top: 0;
    animation: slide 8s steps(4) infinite;
}
@keyframes slide{
    100%{
        top: -160px;
    }
}
.dynamic-txt li span{
    position: relative;
}
.dynamic-txt li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    border-left: 2px solid rgb(6, 177, 162);
    animation: typing 2s steps(15) infinite;
}
@keyframes typing{
    100%{
        left: 100%;
        margin: 0 -20px 0 20px;
    }
}

section:nth-child(odd){
    padding: 80px 0;
}
/* new modification for  */
#aboutme{
    width: 95vw;
    margin: auto;
}
#aboutme>h1{
    width: 90%;
    margin: auto;
    margin-bottom: -60px;
    color: rgb(7, 165, 152);
    font-size: 35px;
}
#aboutme>div:nth-child(2), #aboutme>div:nth-child(4){
    width: 90%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    gap: 100px;
}
#aboutme>div:nth-child(5){
    width: 90%;
    margin-top: 30px;
    background-color: white;
    padding: 15px;
}

#aboutme>div:nth-child(2)>div:nth-child(1){
    width: 220px;
    height: 250px;
    margin-top: 30px; 
    border: 10px solid rgb(6, 177, 162);
    border-radius: 15px;
}
#aboutme>div:nth-child(2)>div>img{
    width: 250px;
    position: relative;
    bottom: 40px;
    left: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}
#aboutme>div:nth-child(2)>div:nth-child(2){
    margin-top: -20px;
    margin-bottom: 30px;
    line-height: 35px;
}
#aboutme>div:nth-child(2)>div:nth-child(2)>div>h2{
    font-weight: 600;
}
#aboutme>div:nth-child(2)>div:nth-child(2)>div>h2>span{
    color: rgb(6, 177, 162);
}
#aboutme>div:nth-child(2)>div:nth-child(2)>div:nth-child(2){
    width: fit-content;
    /* display: flex; */
    /* gap: 50px; */
    line-height: 35px;
}
#aboutme>div:nth-child(2)>div:nth-child(2)>div>p>span{
    font-weight: 600;
    color: rgb(6, 177, 162);
    font-style: italic;
}

#aboutme>div:nth-child(2)>div>div>table tr>td:nth-child(2){
    font-weight: 600;
    font-size: 14px;
}
#aboutme>div:nth-child(2)>div>div>table tr>td:nth-child(3){
    font-size: 14px;
}
#aboutme>div:nth-child(2)>div>div>table tr>td>i{
    font-size: 14px;
    color: rgb(6, 177, 162);
}
#gitstats{
    margin: auto;
}
#gitstats>p{
    margin: auto;
    text-align: center;
}
#gitstats>p>img{
    width: 90%;
    margin-right: 10%;
}

#downloadResume{
    margin-left: 33%;
    padding: 14px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: rgb(243, 243, 244);
    background-color: rgb(6, 177, 162);
    border: 0px;
    border-radius: 5px;
    text-decoration: none;
}
#downloadResume:hover{
    background-color: rgb(7, 165, 152);
    cursor: pointer;
}

#education{
    width: 95vw;
    margin: auto;
    /*  border: 1px solid black; */
    padding: 80px 0;
}
#education>h1{
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
    color: rgb(7, 165, 152);
    font-size: 35px;
}
#education>div{
    width: 90%;
    margin: auto;
    /* position: relative; */
}
#education>div:nth-child(3){
    width: 35px;
    /* position: absolute;
    top: 1605px;
    left: 613px;
    font-size: 150px; */
}
/* #education>div:nth-child(3)>p{
    margin-top: -40px;
    margin-bottom: -30px;
    color: rgb(3, 113, 104);
    text-shadow: 2px 1px 20px rgb(14, 122, 113);
} */
#educationcolumn>div>div>h2{
    color: rgb(3, 113, 104);
}
#educationcolumn>div>div:nth-child(1){
    border-right: 2px solid rgb(3, 113, 104);
    padding: 20px 0px;
}
#educationcolumn>div:nth-child(odd)>div:nth-child(1){
    margin-left: 50px;
    line-height: 15px;
}
#educationcolumn>div:nth-child(even)>div:nth-child(2){
    width: 90%;
    margin-left: 80px;
    padding: 10px 0px 0px 0px;
    line-height: 15px;
}
#educationcolumn>div{
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    'a1 a2'
    'b1 b2'
    'c1 c2';
}
#educationcolumn>div:nth-child(1)>div:nth-child(1){
    grid-area: a1;
}
#educationcolumn>div:nth-child(1)>div:nth-child(2){
    grid-area: a2;
}
#educationcolumn>div:nth-child(2)>div:nth-child(1){
    grid-area: b1;
}
#educationcolumn>div:nth-child(2)>div:nth-child(2){
    grid-area: b2;
}
#educationcolumn>div:nth-child(3)>div:nth-child(1){
    grid-area: c1;
}
#educationcolumn>div:nth-child(3)>div:nth-child(2){
    grid-area: c2;
}
#skills{
    width: 95vw;
    margin: auto;
}
#skills>h1{
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
    color: rgb(7, 165, 152);
    font-size: 35px;
}
#skills>div{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    gap: 45px;
}
#skills>div>div{
    padding: 15px 0px;
    text-align: center;
    background-color: rgba(6, 177, 163, 0.08);
    border-radius: 10px;
}
#skills>div>div:hover{
    background-color: rgba(7, 165, 152, 0.249);
    transform: scale(1.1);
    transition: 0.3s;
}
#skills>div>div>img{
    width: 50%;
}
#skills>div>div:nth-child(3)>img{
    width: 40%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 12px;
    filter: invert(100%);
    border-radius: 50%;
    background-color: rgb(57, 205, 205);
}
#skills>div>div:nth-child(4)>img{
    width: 40%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 12px;
    filter: invert(100%);
    border-radius: 50%;
    background-color: rgb(201, 61, 201);
}
#skills>div>div>h2{
    color: rgb(3, 113, 104);
}
#projects{
    width: 95vw;
    margin: auto;
    padding: 80px 0px;
}
#projects>h1{
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
    color: rgb(7, 165, 152);
    font-size: 35px;
}
#projects>div{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    gap:100px;
}
#projects>div>div{
    height:auto;
    border-radius: 18px;
    padding-bottom: 40px;
    background-color: rgba(248, 248, 248, 0.842);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#projects>div>div>img{
    width: 100%;
    height: 48%;
    margin: auto;
    padding-top: 10px;
    background-color: white;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom: 1px solid gainsboro;
}
#projects>div>div:nth-child(2)>img{
    background-color: rgba(245, 245, 245, 0.626);
}
#projects>div>div>h2{
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: rgb(3, 113, 104);
}
#projects>div>div:nth-child(4)>h2{
    width: 85%;
}
#projects>div>div>p{
    width: 85%;
    margin: auto;
}
#projects>div>div>p:nth-child(3){
    text-align: justify;
}

#projects>div>div>h4{
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 8%;
    color: rgb(3, 113, 104);
}
#projects>div>div>p>i{
    font-size: 30px;
    margin-top: 8px;
    margin-right: 15px;
}
#projects>div>div>p>i:nth-child(1){
    color: orangered;
}
#projects>div>div>p>i:nth-child(2){
    color: blue;
}
#projects>div>div:nth-child(3)>p>i:nth-child(2), #projects>div>div:nth-child(4)>p>i:nth-child(2){
    color: gray;
}
#projects>div>div>p>i:nth-child(3){
    color: rgb(211, 211, 18);
}
#projects>div>div>div{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
}
#projects>div>div>div>button{
    padding:8px 14px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(7, 165, 152);
    color: white;
    border: 0px;
    border-radius: 5px;
}
#projects>div>div>div>button:hover{
    background-color: rgb(3, 110, 101);
    cursor: pointer;
}
#projects>div>div>div>button>i{
    font-size: 12px;
}
#contact{
    width: 95vw;
    margin: auto;
}
#contact>h1{
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
    color: rgb(7, 165, 152);
    font-size: 35px;
}
#contact>div{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#contact>div>div>input, #contact>div>div>textarea{
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    border: 0.5px solid rgb(128, 122, 122);
}
#contact>div>div>input:nth-child(1),#contact>div>div>input:nth-child(2){
    width: 265px;
    height: 22px;
    padding: 10px;
}
#contact>div>div>input:focus,#contact>div>div>textarea:focus{
    outline: none;
    border: 0.5px solid rgb(7, 165, 152);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#contact>div>div>input:nth-child(4){
    width: 556px;
    height: 22px;
    padding: 10px;
}
#contact>div>div>textarea:nth-child(6){
    width: 556px;
    max-width: 556px;
    min-width: 556px;
    height: 180px;
    padding: 10px;
}
#contact>div>div>button{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 14px 235px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(7, 165, 152);
    color: white;
    border: 0px;
    border-radius: 5px;
}
#contact>div>div>button:hover{
    background-color: rgb(3, 110, 101);
    cursor: pointer;
}
#contact>div>div>div{
    display: flex;
    align-items: center;
    gap: 40px;
}
#contact>div>div>div>i{
    color: rgb(7, 165, 152);
    font-size: 20px;
}
#contact>div>div>div:nth-child(1)>i{
    margin-top: -10px;
}
#socialMedia{
    width: 98.7vw;
    margin: auto;
    margin-left: -8px;
    /* margin-top: -40px; */
    margin-bottom: -10px;
    padding: 60px 0;
    background-color: black;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
#socialMedia>i{
    color: white;
    font-size: 30px;
    cursor: pointer;
}

